<!DOCTYPE html>
<html>
<head>
    <title>Top Melons</title>
    <h1> Welcome {{session["name"] }}! </h1>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

<!-- Create a div for every Most Loved Melon using a Jinja for loop -->
  {% for melon in melons %}
    <div class='melon-div'>
       <h3> {{session["name"] }}, this is a {{ melons[melon]["name"] }} </h3> 
       <h2>Loved {{ melons[melon]["num_loves"] }} times.</h2>
       <img src= {{ melons[melon]["img"] }} >
    </div>
  {% endfor %}

</body>
</html>